src/ch/bfh/ti/lottery/tickets/test1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        targetNamespace="bla"
        xmlns:bla="bla">

    <xs:element name="authors">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="author" maxOccurs="unbounded" type="xs:string"/>
                <xs:element name="lastmodified" type="xs:date" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
        <xs:unique name="uniqueAuthor">
            <xs:selector xpath="author"/>
            <xs:field xpath="."/>
        </xs:unique>
    </xs:element>
</xs:schema>
